<div class="panel panel-default" id="bet-<%= bet.id %>">
  <div class="panel-heading">
    A <%= link_to bet.user.majors.first.name, bet.user.majors.first  %> Major said: 
  </div>
  <li> 
    <%= link_to gravatar_for(bet.user, size:50), bet.user %>
      <span class="status">
      	  I am <%= bet.status %>
      </span>

      <span class="stats">
        <%= render 'bets/bet_stats', bet: bet %>
      </span>

      <span class="timestamp">
        <%= time_ago_in_words(bet.created_at) %>
          <% if current_user?(bet.user) %>
            <%= link_to "delete", bet, method: :delete, data: {confirm: "You Sure?"}  %>
          <% end %>
      </span>
  </li>
  <div class="panel-footer">
    <%= render "bets/bet_footer", bet: bet %>
  </div>
</div>