<div class="panel panel-primary">
<div class="panel-heading">
  <h1>Create my own bet</h1>
</div>
<div class="panel-body">
<%= form_for(@bet, html: {multipart: true}) do |f| %>
	<%= render 'shared/error_messages', object: f.object %>
	    <div class="form-group">
        <%= f.label :status %><br>
        I am: <%= f.select :status, ["studying", "procrastinating"], class:"form-control" %>
      </div>

      <div class="radio form-group">
        <b>Are you lying?</b><br>
        <label> 
          <input type="radio" name="bet[lying]" id="bet_lying_true" value="true">
          Yes, and those who think it true lose the bet!
        </label>
      </div>

      <div class="radio form-group">
        <label> 
          <input type="radio" name="bet[lying]" id="bet_lying_false" value="false">
          No, and those who think me lying lose the bet!
        </label>
      </div>

      <div class="form-group" style="padding-left: 5px;">
        <%= f.submit "Submit", class: "btn btn-primary" %>
      </div>

<% end %>
</div>
</div>
  