<% provide(:title, major.name) %>
	<tr id="major-<%= major.id %>">
		<td><%= link_to major.name, major  %></td>
		<td><%= major.today_people_for("studying") %></td>
		<td><%= major.today_people_for("procrastinating") %></td>
		<td class="count"><%= major.users.count %></td>
		<td><%= major.get_today_winning %></td>
		<td class="form">		
			<% if current_user.joined?(major) %>
				<%= render 'quit', major: major%>
			<% else %>
				<%= render 'join', major: major %>
			<% end %>
		</td>
	</tr>
