<% provide(:title, "Home") %>
<% if logged_in? %>
  <div class="row">
  	<aside class="col-md-4">
      <section class="user_info">
      	<%= render 'shared/user_info' %>
      </section>
      <section class="bet_form" id="home_bet_form">
      	<%= render "shared/bet_form" %>
      </section>
  	</aside>

  	<div class="col-md-4">
  	  <%= render 'shared/feed' %>
  	</div>

    <div class="col-md-4">
      <ul class="list-group">
        <li class="list-group-item list-group-item-warning">
          <strong>
            <span class="glyphicon glyphicon-heart"></span>
            Today's Winnings:
          </strong>
        </li>
<!--         <% @winning_res.each do |elem| %>
        <li class="list-group-item">
          <span class="badge"><%= elem[1] %></span>
          <%= link_to elem[0].name, elem[0]  %>
        </li>
        <% end %> -->
        <li class="list-group-item">
          <%= link_to "See More Major Info --->", majors_path  %>
        </li>
      </ul>     
    </div>
  </div>

<% else %>

  <h1>Suck My Major Home Page</h1>
  <p class="center">Think You Are Smart? You Don't Dare a Bet.</p>
<% end %>